.main-container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    margin: 0;
    text-align: center;
    padding: 10px;
    color: #0099CC;
}

.map-container {
    z-index: 0;
    margin: 0;
    background-color: black;
}

.list-markers {
    display: none;
    height: 90vh;
    padding-left: 10px;
}

.marker-list-item {
    padding-top: 10px;
}

.infoWindow-pic {
    padding: 5px;
    width: 300px;
    height: 300px;
}

.infoWindow {
    align-items: center;
}

.infoWindow h3 {
    text-align: center;
}

button {
    background: transparent;
    border: 2px solid #0099CC;
    color: black;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

input {
    background: transparent;
    border: 2px solid #0099CC;
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

/* Responsive */

.container-bar {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #008CBA;
    margin: 3px 0;
    transition: 0.4s;
}

.topnav {
    max-width: 200px;
    z-index: -1;
}

.icon {
    padding-top: 5px;
}

.showElement {
    display: inherit;
}

@media screen and (max-width: 1000px) {
    .infoWindow-pic {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 750px) {
    .infoWindow-pic {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 1.3em;
    }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 2px;
        background-color: #008CBA;
        margin: 2px 0;
        transition: 0.4s;
    }

    .topnav {
        max-width: 150px;

    }

    button {
        width: 100px;
    }

    input {
        width: 110px;
    }
}

@media screen and (max-width: 500px) {
    .infoWindow-pic {
        width: 150px;
        height: 150px;
    }
}