.list-markers {
    height:100vh;
    width: 250px;
    position: absolute;
    background-color: white;
    flex-wrap: wrap;
}

.list-markers-top {
    width: 250px;
    height: 5%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #d5d8df;
    display: flex;
}

.list-markers-bot {
    height: auto;
    position: fixed;
    padding-top: 50px;
    padding-left: 50px;
}

.search-markers {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 0;
}

.marker-list-item {
    padding-top: 30px;
    background: white;
    display: flex;
}

.marker-details p {
    margin: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}