.main-container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.map-container {
    width: 80%;
    margin: 0;
    background-color: black;
}

.list-markers {
    height: 90vh;
    width: 13%;
    padding-left: 10px;
}

.list-markers-bot {
    padding-left: 10px;
}

.marker-list-item {
    padding-top: 10px;
}

.marker-details p {
    margin: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infoWindow-pic {
    padding: 5px;
    width: 300px;
    height: 300px;
}

.infoWindow {
    align-items: center;
}

.infoWindow h3 {
    text-align: center;
}
button {
    background: transparent;
    border: 2px solid #0099CC;
    color: black;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

input {
    background: transparent;
    border: 2px solid #0099CC;
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}